---
Language: Cpp
# BasedOnStyle: LLVM
IndentWidth: 2
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BracedInitializerIndentWidth: 2
EnumTrailingComma: Insert
ReferenceAlignment: Left
PackConstructorInitializers: NextLine
PointerAlignment: Left
